<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmlRpwqrZE_xfl4sJhrIraXXqEzxz4OzI</string>
	<key>GCM_SENDER_ID</key>
	<string>467411829785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pickmed</string>
	<key>PROJECT_ID</key>
	<string>pickedme-aa24d</string>
	<key>STORAGE_BUCKET</key>
	<string>pickedme-aa24d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467411829785:ios:c55b62b9f764097c079688</string>
</dict>
</plist>